body {
  background-color: lightgray;
}

.gradient-to-right {
  width: 800px;
  height: 200px;
  border: 1px solid black;
  background-image: linear-gradient(to right, green, red);
}

.gradient-to-left-top {
  width: 800px;
  height: 200px;
  border: 1px solid black;
  background-image: linear-gradient(to left top, rgb(124,90,205),  rgb(99,204,65));
}


.gradient-to-top {
  width: 800px;
  height: 200px;
  border: 1px solid black;
  background-image: linear-gradient(to top, green, red);
}