div[class^="grid"] {
border: 1px solid red;
}

.container-grid1 {
  margin-top: 20px;
  display: grid;

  /* grid-template-columns: 20% 60% 20%; */
  /*Αντίστοιχα μπορώ να ορίσω με pixel ή κλάσμα*/
  /* grid-template-columns: 20px 60px 20px; */
  grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: auto;
}

.container-grid2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  /*Αν έχει παραπάνω στήλες τις πχ 6 τις 2 τελευταίες τις βάζει από κάτω*/
  grid-template-rows: 60px 120px;
}

.container-grid3 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr) 2fr;
  grid-template-rows: 100px;
  grid-auto-rows: 60px;
}