:root {
  --gov-blue: #003475;
  --navy: #002e94;
  --blue: #083aa9;
  --white: #fff;
  --lightgrey-200: #ecebec;
  --lightgrey-300: #cdccce;
  --lightgrey-500: #99989c;
  --yellow: rgb(130,130,3);
  --green: #006736;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Header Styling*/
header {
  width: 100%;
  height: 105px;
  border-bottom: 10px solid var(--blue);
}

header .img-gov {
  height: 100px;
  width: auto;
}

nav {
  width: 80%;
}


/*Main Styling*/

aside {
  flex: 25%;
}

main {
  flex: 75%;
  height: calc(100vh - 105px);
  overflow: auto;
}

aside a:visited {
  color: var(--white);
}

/*Stepper Styling*/
.stepper-circle {
  width: 30px;
  height: 30px;
  color: var(--white);
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--lightgrey-300);
}

.stepper-border-bottom {
  display: block;
  border-bottom: 1px solid var(--lightgrey-300);
  content: '';
}

.active {
  background-color: var(--blue);
}

/*Footer Styling*/
footer {
  width: 100%;
  border-top: 10px solid var(--blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer img {
  height: 75px;
  width: auto;
}

footer a:visited {
  color: var(--blue);
}

/*Form Styling*/
.info {
  display:inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--gov-blue);
  color: var(--white);
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

.text-info {
  color: var(--lightgrey-500);
  font-size: smaller;
  padding-left: 1rem;
}

/*General Styling*/

/*Displays*/
.d-flex {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.d-block {
  display: block;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-end {
  justify-content: end;
}

/*Backgrounds*/
.bg-gov-blue {
  background-color: var(--gov-blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-white {
  background-color: var(--white);
}

.bg-lightgrey-300 {
  background-color: var(--lightgrey-300);
}

.bg-lightgrey-200 {
  background-color: var(--lightgrey-200);
}

/*Text Styling*/
.font-size-1 {
  font-size: 1rem;
}

.font-size-075 {
  font-size: .75rem;
}

.font-size-2 {
  font-size: 2rem;
}

.text-lightgrey-200 {
  color: var(--lightgrey-200);
}

.text-center {
  text-align: center;
}

.text-white {
  color: var(--white);
}

.text-yellow {
  color: var(--yellow);
}

.text-lightgrey-500 {
  color: var(--lightgrey-500);
}

/*Margins & Paddings*/
.mr-1 {
  margin-right: 1rem;
}

.mr-05 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-05 {
  margin-left: .5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

/*Borders*/
.border {
  border-style: solid;
  border-width: 1px;
}

.border-white {
  border-color: var(--white);
}

.border-lightgrey-200 {
  border-color: var(--lightgrey-200);
}

.border-lightgrey-300 {
  border-color: var(--lightgrey-300);
}

.border-radius-15 {
  border-radius: 15%;
}

.no-border {
  border: 0;
}



/*Links & Lists*/
.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

/*Width - Height*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33;}
.col-11 {width: 91.66%;}
.col-12{width: 100%;}

.h-2 {
  height: 2rem;
}

.h-25 {
  height: 2.5rem;
}