* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
}

.container {
  background-color: beige;
  display: flex;
}

nav {
  margin-top: 20px;
  flex: 25%;
  background-color: lightblue;
  height: 100px;
}

main {
  margin-top: 20px;
  flex: 75%;
  background-color: brown;
}

@media (max-width:600px) {
  .container {
    flex-direction: column;
  }

  nav {
    margin-top: 0;
  }

  main {
    margin-top: 0;
  }
}
